pandaPIengine/build/*
pandaPIgrounder/pandaPIgrounder

# pandaPI binaries
scripts/pandaPIengine
scripts/pandaPIgrounder
scripts/pandaPIparser

# Python cache
scripts/__pycache__/

# Test artifacts
scripts/*.htn
scripts/*.sas
scripts/*.original
scripts/*.actual
scripts/*.wcnf
scripts/*.wcnf.map
scripts/*.sol
scripts/*.log
scripts/*.stats
scripts/htnorder_debug.log
scripts/test_*
scripts/results.csv

# Artifacts when running from top-level directory
*.htn
*.sas
*.original
*.actual
*.wcnf
*.wcnf.map
*.sol
*.log
*.stats
*.layers